services:
  nginx-tunnel:
    image: cloudflare/cloudflared:latest
    container_name: nginx-tunnel
    command: ["tunnel", "--no-autoupdate", "run", "--token", "${TUNNEL_TOKEN}"]
    volumes:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    restart: unless-stopped
  nginx:
    image: nginx:alpine
    container_name: nginx
    volumes:
      - ./public:/usr/share/nginx/html:ro
    network_mode: service:nginx-tunnel
    restart: unless-stopped
